---
import { Header } from "@/components/Header";
import SEO from "@/components/SEO.astro";
import "@/styles/global.css";
import "@fontsource/inter";
import "@fontsource/caveat";
import "@fontsource/jetbrains-mono";

const lang = Astro.currentLocale || "en";
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
	<head>
		<SEO />
		<script is:inline>
			const getThemePreference = () => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				return window.matchMedia("(prefers-color-scheme: dark)").matches
					? "dark"
					: "light";
			};
			const isDark = getThemePreference() === "dark";
			document.documentElement.classList[isDark ? "add" : "remove"](
				"dark",
			);

			if (typeof localStorage !== "undefined") {
				const observer = new MutationObserver(() => {
					const isDark =
						document.documentElement.classList.contains("dark");
					localStorage.setItem("theme", isDark ? "dark" : "light");
				});
				observer.observe(document.documentElement, {
					attributes: true,
					attributeFilter: ["class"],
				});
			}
		</script>
	</head>
	<body
		class="min-h-screen bg-background text-foreground font-sans antialiased flex flex-col lg:h-screen lg:overflow-hidden"
	>
		<Header client:load currentLocale={lang} />

		<main class="container mx-auto z-10 relative">
			<slot />
		</main>
	</body>
</html>
